:root {
  --color-salt: #61acf0; /* blue */
  --color-fat: #f0a561; /* orange */
  --color-acid: #cbd20a; /* lime */
  --color-heat: #e74a2f; /* red */
  --color-black: #1a1917; /* black */
}

.heatinline {
  color: var(--color-heat);
}

.title-slide {
  background-image: url("creditss_light.jpg");
  background-size: cover;

}
.title-slide h1, h2,  h3 {
  text-align: center;
  color: black;
}


 .remark-slide-number {
  display: none;
}

